<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head'); %>
    <title>Articles</title>
    <style>
        .card-img-top {
            width: 100%;
            height: 15vw;
            object-fit: cover;
        }
    </style>
</head>
<body>
    <div class="container px-4 mt-4">
        <h1>All Article</h1>
        <form action="/<%= role %>/article/<%= userId %>">
            <input type="text" name="search" placeholder="Search..">
            <input type="submit" value="search">
            <a class="btn btn-primary mt-4 mb-4" href="/<%= role %>/article/<%= userId %>" role="button">Clear search</a>
        </form>
        <a href="/<%= role %>/add/article/<%= userId %>">Add</a>
        <a href="/<%= role %>/article/<%= userId %>/myArticle">My Article</a>
        <% result.forEach(el => { %>
        <% const {id, UserId, title, content, imgUrl, pendingStatus, Tag, createdAt, User, formatPendingStatus, dateFormat} = el%> 
        <% const postId = id %>
        <div class="card mb-3">
            <img class="card-img-top" src="<%= imgUrl %>" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title"><%= title %></h5>
                <p class="card-text"><%= content %></p>
                <p class="card-text"><small class="text-muted"><%= User.fullName %></small></p>
            </div>
        </div>
        <% }) %>

        
        <table border="1">
            <tr>
                <th>Title</th>
                <th>Content</th>
                <th>ImgUrl</th>
                <% if (role == 2) { %>
                    <th>Status</th>
                <% } %>
                <th>Created By</th>
                <th>Category</th>
                <th>Created At</th>
            </tr>
            
            <% result.forEach(el => { %>
                <% const {id, UserId, title, content, imgUrl, pendingStatus, Tag, createdAt, User, formatPendingStatus, dateFormat} = el%> 
                <% const postId = id %>
                <tr>
                    <td><a href="/<%= role %>/article/<%= userId %>/<%= postId %>"><%= title %></a></td>
                    <td><%= content %></td>
                    <td>
                        <img src="<%= imgUrl %>" alt="img">
                    </td>
                    <% if (role == 2) { %>
                        <td><%= formatPending %></td>
                    <% } %>
                    <td><%= User.fullName %></td>
                    <td><%= Tag.name %></td>
                    <td><%= dateFormat %></td>
                </tr>
            <% }) %>
        </table>
    </div>

    
   

</body>
</html>