<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head'); %>
    <title>Articles</title>
</head>
<body>
    <a href="/<%= role %>/add/article/<%= userId %>">Add</a>

    <table border="1">
        <tr>
            <th>Title</th>
            <th>Content</th>
            <th>ImgUrl</th>
            <% if (role == 2) { %>
                <th>Status</th>
            <% } %>
            <th>Created By</th>
            <th>Category</th>
            <th>Created At</th>
        </tr>
        
        <% result.forEach(el => { %>
            <% const {id, UserId, title, content, imgUrl, pendingStatus, Tag, createdAt, User, formatPendingStatus, dateFormat} = el%> 
            <% const postId = id %>
            <tr>
                <td><a href="/<%= role %>/article/<%= userId %>/<%= postId %>"><%= title %></a></td>
                <td><%= content %></td>
                <td>
                    <img src="<%= imgUrl %>" alt="img">
                </td>
                <% if (role == 2) { %>
                    <td><%= formatPendingStatus %></td>
                <% } %>
                <td><%= User.fullName %></td>
                <td><%= Tag.name %></td>
                <td><%= dateFormat %></td>
            </tr>
        <% }) %>
    </table>

    
</body>
</html>