<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head'); %>
    <title>Detail Articles</title>
    <style>
        #image {
            background: url('image.jpg') no-repeat;
            background-size:contain;
        }
    </style>
</head>
<body>
    <% const {title, content, imgUrl, pendingStatus, Tag, createdAt, User, formatPending, dateFormat, UserId} = result%> 
    <div class="container px-4 mt-4 text-center">
        <h1 class="mb-4"><%= title %></h1>
        <div class="mb-4">
            <p>Created By <%= User.userName %></p>
            <p>Created at <%= dateFormat %></p>
        </div>
        <div>
            <img src="<%= imgUrl %>" alt="img" id="image">
        </div>
        <p class="mt-4" style="font-size:20px"><%= content %></p>


        <div>
            <% if (role == "Admin") { %>
                <p><%= formatPending %></p>
                <!-- <button class="btn btn-primary" type="submit"><%=  %></button> -->
            <% } %>
        </div>
    </div>

    <table border="1">
        
        <tr>
            <th>Title</th>
            <th>Content</th>
            <th>ImgUrl</th>
            <% if (role == "Admin") { %>
                <th>Status</th>
            <% } %>
            <th>Created By </th>
            <th>Category</th>
            <th>Created At</th>
            <% if (role == "Admin") { %>
                <% if (formatPending == "Pending") { %>
                <th>Action</th>
                <% } %>
            <% } %>
        </tr>
            <tr>
                <td><%= title %></td>
                <td><%= content %></td>
                <td>
                    <img src="<%= imgUrl %>" alt="img">
                </td>
                <% if (role == "Admin") { %>
                    <td><%= formatPending %></td>
                <% } %>
                <td><%= User.userName %></td>
                <td><%= Tag.name %></td>
                <td><%= dateFormat %></td>
                <td>
                <% if (role == "Admin") { %>
                    <% if (formatPending == "Pending") { %>
                    <a href="/<%= role %>/article/<%= userId %>/<%= postId %>/reject">
                        <input type="submit" value="Reject" class="btn btn-danger">
                    </a>
                    <a href="/<%= role %>/article/<%= userId %>/<%= postId %>/approve">
                        <input type="submit" value="Approve" class="btn btn-success">
                    </a>
                    <% } %>
                <% } %>
                <% if (userId == UserId) { %>
                    <a href="/<%= role %>/article/<%= userId %>/<%= postId %>/edit">
                        <input type="submit" value="Edit" class="btn btn-success">
                    </a>
                    <a href="/<%= role %>/article/<%= userId %>/<%= postId %>/delete">
                        <input type="submit" value="Delete" class="btn btn-danger">
                    </a>
                <% } %>
                </td>
            </tr>
    </table>
</body>
</html>