<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head'); %>
    <title>Detail Articles</title>
    <style>
        #image {
            background: url('image.jpg') no-repeat;
            background-size:contain;
        }
    </style>
</head>
<body>
    <% const {title, content, imgUrl, pendingStatus, Tag, createdAt, User, formatPending, dateFormat, UserId} = result%> 
    <div class="container px-4 mt-4 text-center">
        <h1 class="mb-4"><%= title %></h1>
        <div class="mb-4">
            <p>Created By <%= User.userName %></p>
            <p>Created at <%= dateFormat %></p>
        </div>
        <div>
            <img src="<%= imgUrl %>" alt="img" id="image">
        </div>
        <p class="mt-4" style="font-size:20px"><%= content %></p>

        <div class="mb-4">
            <% if (userId == UserId) { %>
            <a href="/<%= role %>/article/<%= userId %>/<%= postId %>/edit">
                <input type="submit" value="Edit" class="btn btn-success">
            </a>
            <a href="/<%= role %>/article/<%= userId %>/<%= postId %>/delete">
                <input type="submit" value="Delete" class="btn btn-danger">
            </a>
        <% } %>
        </div>
        <p class="mt-4">Category: <%= Tag.name %></p>
    </div>

</body>
</html>