<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head'); %>
    <title>Form Add</title>
</head>
<body>
    <h1>Edit Article</h1>

    <form action="/<%= role %>/add/article/<%= userId %>" method="post">
        <label for="">Title</label>
        <input type="text" name="title" value="<%= result.title %>">
        <br>

        <label for="">Content</label>
        <br>
        <textarea name="content" id="" cols="30" rows="10"><%= result.content %></textarea>
        <br>

        <label for="">Img Url</label>
        <input type="text" name="imgUrl" value="<%= result.imgUrl %>">
        <br>

        <label for="">Tag</label>
        <select name="TagId" id="">
            <% if (result.TagId == 1) { %>
                <option value="1" selected>Healthy</option>
            <% }else { %>
                <option value="1">Healthy</option>
            <% } %>


            <% if (result.TagId == 2) { %>
                <option value="2" selected>Lifestyle</option>
            <% }else { %>
                <option value="2">Lifestyle</option>
            <% } %>


            <% if (result.TagId == 3) { %>
                <option value="3" selected>Technology</option>
            <% }else { %>
                <option value="3">Technology</option>
            <% } %>


            <% if (result.TagId == 4) { %>
                <option value="4" selected>Marketing</option>
            <% }else { %>
                <option value="4">Marketing</option>
            <% } %>

            
            <% if (result.TagId == 5) { %>
                <option value="5" selected>Politic</option>
            <% }else { %>
                <option value="5">Politic</option>
            <% } %>
        </select>
        <br>


        


        <button type="submit">Submit</button>
    </form>
    
</body>
</html>