<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head'); %>
    <title>Home</title>
</head>
<body>
  <%- include('./partials/navbar'); %>
  <% if (error) { %>
    <p style="color: red;"><%= error %></p>
  <% } %>

  <div class="main-banner wow fadeIn" id="top" data-wow-duration="1s" data-wow-delay="0.5s">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-6 align-self-center">
              <div class="left-content show-up header-text wow fadeInLeft" data-wow-duration="1s" data-wow-delay="1s">
                <div class="row" >
                  <div class="col-lg-10">
                    <h2 style="color: white;">Media Company</h2>
                    <p style="color: white;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur laborum doloribus incidunt impedit, dicta eius. Non tempora nemo corporis culpa quam. Inventore quis quam officiis ea maxime cupiditate omnis rerum.</p>
                  </div>
                  <div class="col-lg-12">
                    <div class="white-button first-button scroll-to-section" >
                      <a href="/logout" class="btn btn-light">Logout</a>
                    </div>
                    <div class="white-button scroll-to-section">
                      <a href="/<%= role %>/article/<%- userId %>" class="btn btn-light">Articles</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="right-image wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s">
                <img src="assets/images/slider-dec.png" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
    
  <!-- Scripts -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/js/owl-carousel.js"></script>
  <script src="assets/js/animation.js"></script>
  <script src="assets/js/imagesloaded.js"></script>
  <script src="assets/js/popup.js"></script>
  <script src="assets/js/custom.js"></script>
</body>
</html>